*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
.rights{
  padding-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copyrights{
  padding-right: 790px;
}

.topnav{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.active{
  color: black;
  text-decoration: none;
  margin-right: 40px;
}
.right{
  padding-left: 150px;
  
}
.brand{
  padding-right: 490px;
  height: 50px;
}

.container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 40px 20px 0 20px;
  
}

.box{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: center;
  padding-bottom: 20px;
}
.col{
  display: flex;
  flex-direction: column;
}

.up{
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 50px;
}

.back{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.heading{
  padding-bottom: 30px;
}

.image{
  transition: 1s;
  cursor: pointer;
  width: 99%;
  
}

.image:hover{
  transform: scale(1.1);
  filter:sepia(50%);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: flex-end;
  padding-right: 20px;
}