*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
}
.rights{
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copyrights{
  padding-right: 770px;
}
.topnav{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.active{
  color: white;
  text-decoration: none;
  margin-right: 40px;
}
.right{
  padding-left: 150px;
  
}
.brand{
  padding-right: 490px;
  height: 50px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: flex-end;
  padding-right: 100px;
}
.cow{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
}
.display{
  display: flex;
}
.words{
  padding-top: 190px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: justify;
}





  
